/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html{

font-family: 'Lato', sans-serif;

 }

 .margin-bottom-small{
   margin-bottom: 20px;
 }

 p{
   line-height: 1.5rem !important;
 }

.account-nav{
  height: 50px;
}

 .tiny{
   font-size: .8rem;
 }

 .red-bg{
   background-color : #A34747;
 }

 .red-text{
   color : #A34747 !important;
 }

.opacity-75{
  opacity: .75;
}

 .parallax-container{
      height: 550px !important;
    line-height: normal !important;
    }


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
